<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${processtime:format=ss.mmm} [${level}] ${message}">
      <highlight-row condition="level = LogLevel.Fatal" foregroundColor="Magenta"></highlight-row>
      <highlight-row condition="level = LogLevel.Error" foregroundColor="Red"></highlight-row>
      <highlight-row condition="level = LogLevel.Warn" foregroundColor="Yellow"></highlight-row>
      <highlight-row condition="level = LogLevel.Info" foregroundColor="Gray"></highlight-row>
      <highlight-row condition="level = LogLevel.Debug" foregroundColor="DarkGray"></highlight-row>
      <highlight-row condition="level = LogLevel.Trace" foregroundColor="White"></highlight-row>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
